<div class="durationPicker" dojoType="dojox.mobile.Overlay">
			<h1 dojoType="dojox.mobile.Heading" label="Duration">
				<div dojoType="dojox.mobile.ToolBarButton" label="Cancel" class="mblColorRed durationSpinnerCancelButton" style="width:45px;float:left;"></div>				
				<div dojoType="dojox.mobile.ToolBarButton" label="Done" class="mblColorBlue durationSpinnerDoneButton" style="width:45px;float:right;"></div>
			</h1>
			<div dojoType="dojox.mobile.SpinWheel">
				<div class="durationSlot" dojoType="dojox.mobile.SpinWheelSlot"
					labels="['5 Minutes','10 Minutes','15 Minutes','17 Minutes','20 Minutes','25 Minutes','30 Minutes',
					'35 Minutes','40 Minutes','45 Minutes','50 Minutes','55 Minutes','60 Minutes', '65 Minutes','70 Minutes',
					'75 Minutes','80 Minutes','85 Minutes','90 Minutes','95 Minutes','100 Minutes','105 Minutes','110 Minutes',
					'115 Minutes','120 Minutes']"
					style="text-align:center;width:100%;"></div>
			</div>
</div>