<style>
    li.glass {
        width: 20%;
        min-height: 15%;
        border: 0px solid #000;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        zoom: 1;
        *display: inline;
        _height: 250px;
/*
		background-color: #3355ff;
		-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
		*/
    }	
</style>
		<ul style="margin-left:-25px;">
			<li class="glass" id="${glass0}" style="background-color:clear">
		        <div style="height:50px;text-align:center;">
		            <img src="./app/resources/images/emptyGlass.png" width="20" height="45" style="margin-left:30px"/>
		        </div>
			</li>


			<li class="glass" id="${glass1}">
		        <div style="height:50px;text-align:center;">
		            <img src="./app/resources/images/emptyGlass.png" width="20" height="45" style="margin-left:30px"/>
		        </div>
			</li>


			<li class="glass" id="${glass2}">
		        <div style="height:50px;text-align:center;">
		            <img src="./app/resources/images/emptyGlass.png" width="20" height="45" style="margin-left:30px"/>
		        </div>
			</li>


			<li class="glass" id="${glass3}">
		        <div style="height:50px;text-align:center;">
		            <img src="./app/resources/images/emptyGlass.png" width="20" height="45" style="margin-left:30px"/>
		        </div>
			</li>
			
			<br>

			<li class="glass" id="${glass4}" style="background-color:clear">
		        <div style="height:50px;text-align:center;">
		            <img src="./app/resources/images/emptyGlass.png" width="20" height="45" style="margin-left:30px"/>
		        </div>
			</li>


			<li class="glass" id="${glass5}">
		        <div style="height:50px;text-align:center;">
		            <img src="./app/resources/images/emptyGlass.png" width="20" height="45" style="margin-left:30px"/>
		        </div>
			</li>


			<li class="glass" id="${glass6}">
		        <div style="height:50px;text-align:center;">
		            <img src="./app/resources/images/emptyGlass.png" width="20" height="45" style="margin-left:30px"/>
		        </div>
			</li>


			<li class="glass" id="${glass7}">
		        <div style="height:50px;text-align:center;">
		            <img src="./app/resources/images/emptyGlass.png" width="20" height="45" style="margin-left:30px"/>
		        </div>
			</li>			
		</ul>