<div class="servingPicker" dojoType="dojox.mobile.Overlay">
			<h1 class="servingPickerHeader" dojoType="dojox.mobile.Heading" label="Servings">
				<div dojoType="dojox.mobile.ToolBarButton" label="Cancel" class="mblColorRed SpinnerCancelButton" style="width:45px;float:left;"></div>				
				<div dojoType="dojox.mobile.ToolBarButton" label="Done" class="mblColorBlue SpinnerDoneButton" style="width:45px;float:right;"></div>
			</h1>
			<div dojoType="dojox.mobile.SpinWheel">
				<div class="servingSlot" dojoType="dojox.mobile.SpinWheelSlot"
					labels="['1/2 serving','1 serving','1 1/2 servings','2 servings','2 1/2 servings','3 servings','3 1/2 servings','4 servings','4 1/2 servings','5 servings','5 1/2 servings','6 servings','6 1/2 servings','7 servings','7 1/2 servings','8 servings']"
					style="text-align:center;width:100%;"></div>
			</div>
</div>