<div class="weightPicker" dojoType="dojox.mobile.Overlay" style="background-color: #60656f;background-image: -webkit-gradient(linear, left top, left bottom, from(#a6abb4), to(#5b616c), color-stop(0.1, #7b808b), color-stop(0.1, #60656f));">
		<h1 dojoType="dojox.mobile.Heading" label="Weight">
			<div dojoType="dojox.mobile.ToolBarButton" label="Cancel" class="mblColorRed weightPickerCancelButton" style="width:45px;float:left;"></div>				
			<div dojoType="dojox.mobile.ToolBarButton" label="Done" class="mblColorBlue weightPickerDoneButton" style="width:45px;float:right;"></div>
		</h1>
	<div dojoType="dojox.mobile.SpinWheel" style="width:85%;">
		<div class="weightHundredsSlot" dojoType="dojox.mobile.SpinWheelSlot"
			labels="['0','1','2','3','4','5','6','7','8','9']"
			value="140"
			style="text-align:center;width:22%;"></div>
		<div class="weightTensSlot" dojoType="dojox.mobile.SpinWheelSlot"
			labels="['0','1','2','3','4','5','6','7','8','9']"
			value="140"
			style="text-align:center;width:22%;"></div>
		<div class="weightOnesSlot" dojoType="dojox.mobile.SpinWheelSlot"
			labels="['0','1','2','3','4','5','6','7','8','9']"
			value="140"
			style="text-align:center;width:22%;"></div>					
		<div class="weightDecSlot" dojoType="dojox.mobile.SpinWheelSlot"
			labels="['.0','.1','.2','.3','.4','.5','.6','.7','.8','.9']"
			value=".0"
			style="text-align:center;width:29%;"></div>	
	</div>
</div>

